## Remove Duplicates in a List:
Write  a  program  (function!)  that  takes  a  list  and  returns  a  new  list  that  contains  all  the elements of the first list minus all the duplicates.

Extras:
Write two different functions to do this -

1) Using a loop and constructing a list, 

2) Using sets.

In [2]:
def removeDuplicatesUsingLoops(input_list):
  new_list = list()
  for item in input_list:
    if item not in new_list:
      new_list.append(item)
  return new_list

input_list = [1,2,3,4,3,54,6,3,5,1,54,6,7,8,10,11,22,2]
print(input_list)
print(removeDuplicatesUsingLoops(input_list))

[1, 2, 3, 4, 3, 54, 6, 3, 5, 1, 54, 6, 7, 8, 10, 11, 22, 2]
[1, 2, 3, 4, 54, 6, 5, 7, 8, 10, 11, 22]

In [3]:
def removeDuplicatesUsingSet(input_list):
  new_list = set(input_list)
  return list(new_list)

input_list = [1,2,3,4,3,54,6,3,5,1,54,6,7,8,10,11,22,2]
print(input_list)
print(removeDuplicatesUsingLoops(input_list))

[1, 2, 3, 4, 3, 54, 6, 3, 5, 1, 54, 6, 7, 8, 10, 11, 22, 2]
[1, 2, 3, 4, 54, 6, 5, 7, 8, 10, 11, 22]