# Pandas Advanced DIY Assignment

In [ ]:
# import required libraries here
import numpy as np
import pandas as pd

In [ ]:
# Q1: Define the student record Dataframe used in the Pandas DIY assignment
# make sure your column name follows the following convention:
# ['student_id', 'student_name', 'student_age', 'student_gender', 'student_course']

In [ ]:
# Q2: print information, shape and rank

In [ ]:
# Q3: add NaN for Diann and Erich's age 
# and Martin and Linda's student course

In [ ]:
# Q4: Count the number of non-NA observations for each column

In [ ]:
# Q5: Drop all rows with missing values (make sure its not inplace)

In [ ]:
# Q6: Drop only rows with missing values for student course (make sure its not inplace)

In [ ]:
# Q7: fill missing student ages with suitable value
# justify choice of your replacement value
# this can be inplace

In [ ]:
# Q8: Deal with the missing values in student_course
# justify the reason behind your choice

In [ ]:
# Q9: Add a new column "student_marks" with the following values
77,57,74,64,59,63,67,91,79,83

In [ ]:
# Q10: print the average age and marks of all students

In [ ]:
# Q11: find the maximum marks and student's name

In [ ]:
# Q12: find the range of student's age

In [ ]:
# Q13: write your current data frame to a csv file

In [ ]:
# Q14: read from the csv file saved in previous step and make sure you have exactly
# the same dataframe as previously

In [ ]:
# Q15: Add a new column "student_hobbies" with the following values
'Gaming','Dancing','Sports','Dancing', 'Traveling', 'Gaming', 'Sports', 'Sports', 'Traveling','Dancing'

In [ ]:
# Q16: group based on student's course

In [ ]:
# Q17: group student by their hobby and their course type

In [ ]:
# Q18: find the standard deviation of the marks for students whose hobby is Sports

#########################################

# Pivot, Concat and Stack etc.

Download the two excel files from here

In [ ]:
# Q19: read the two csv files

In [ ]:
# Q20: read the two csv files

In [ ]:
# Q21: concat them into a single dataframe (outer join)

In [ ]:
# Q22: concat them into a single dataframe (inner join)

## Pivoting

In [ ]:
# Q23: pivot using city column as index and column set to date

In [ ]:
# Q24: add a column with the mean temperature for each city over the 5 days

In [ ]:
# Q25: Use melt to get back the original dataframe structure from the pivoted one
# City, date and temperature
# you can sort the city values in ascending form