In [37]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [38]:
seriesfromlist1= pd.Series(["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],index=[[1,2,3,4,5,6,7]])
print(seriesfromlist1)
seriesfromlist2= pd.Series(["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],index=[["M","T","W","T","F","S","S"]])
print(seriesfromlist2)
seriesfromlist3= pd.Series(["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],index=list('MTWTFSS'))
print(seriesfromlist3)

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
dtype: object
M       Monday
T      Tuesday
W    Wednesday
T     Thursday
F       Friday
S     Saturday
S       Sunday
dtype: object
M       Monday
T      Tuesday
W    Wednesday
T     Thursday
F       Friday
S     Saturday
S       Sunday
dtype: object

In [39]:
days = {1:"Monday", 2:"Tuesday", 3:"Wednesday", 4:"Thursday", 5:"Friday", 6:"Satuday", 7:"Sunday"}
seriesfromdictionary = pd.Series(days)
print(seriesfromdictionary)
seriesfromdictionary1 = pd.Series(days, index=[1,2,3,4,5])
seriesfromdictionary2 = pd.Series(days, index=[1,2,3,4,5,1])
print(seriesfromdictionary1)
print(seriesfromdictionary2)

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6      Satuday
7       Sunday
dtype: object
1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
dtype: object
1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
1       Monday
dtype: object

In [40]:
seriesfromdictionary[1] #on index 1
seriesfromdictionary[1:5] #from index 1 to 5
seriesfromdictionary[-2:] #last two elements
seriesfromlist1[1]

1    Monday
dtype: object

In [41]:
print(seriesfromlist1.values)
print(seriesfromlist2.value_counts)
print(seriesfromdictionary.size)
print(seriesfromdictionary.items)
print(seriesfromdictionary.index)
print(seriesfromdictionary1.index)
print(seriesfromdictionary.is_unique)
print(seriesfromdictionary2.is_unique)
print(seriesfromdictionary2.nunique())

print(seriesfromdictionary1.dtype)
print(seriesfromdictionary1.shape)
print(seriesfromdictionary1.ndim)

['Monday' 'Tuesday' 'Wednesday' 'Thursday' 'Friday' 'Saturday' 'Sunday']
<bound method IndexOpsMixin.value_counts of M       Monday
T      Tuesday
W    Wednesday
T     Thursday
F       Friday
S     Saturday
S       Sunday
dtype: object>
7
<bound method Series.items of 1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6      Satuday
7       Sunday
dtype: object>
Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64')
Int64Index([1, 2, 3, 4, 5], dtype='int64')
True
False
5
object
(5,)
1

In [42]:
print(seriesfromdictionary)
print(seriesfromdictionary.head())
print(seriesfromdictionary.head(2))
print(seriesfromdictionary.tail(2))

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6      Satuday
7       Sunday
dtype: object
1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
dtype: object
1     Monday
2    Tuesday
dtype: object
6    Satuday
7     Sunday
dtype: object

In [43]:
prices = [10, 5, 3, 2.5, 8, 11]
s = pd.Series(prices)
print(s.mean())

prices.sort()
print(prices)
print(s.median())

print(s.product())

print(s.sort_values(ascending=False))
print(s)
s.sort_values(inplace=True)
print(s)

6.583333333333333
[2.5, 3, 5, 8, 10, 11]
6.5
33000.0
5    11.0
0    10.0
4     8.0
1     5.0
2     3.0
3     2.5
dtype: float64
0    10.0
1     5.0
2     3.0
3     2.5
4     8.0
5    11.0
dtype: float64
3     2.5
2     3.0
1     5.0
4     8.0
0    10.0
5    11.0
dtype: float64

In [44]:
print(s.le(6))
print(list(s))
print(dict(s))

3     True
2     True
1     True
4    False
0    False
5    False
dtype: bool
[2.5, 3.0, 5.0, 8.0, 10.0, 11.0]
{3: 2.5, 2: 3.0, 1: 5.0, 4: 8.0, 0: 10.0, 5: 11.0}

In [45]:
data = [1,2,3]
#df from a list
dfl = pd.DataFrame(data, columns=["Number"])
dfl

#df from n dimension list
ndlist = [[1,"Shashwat"],[2,"Vished"],[3,"Arjun"]]
dfndl= pd.DataFrame(ndlist, columns=["Roll Number","Name"])
dfndl

df1 = DataFrame(np.arange(1,26).reshape(-1,5),index=list("ABCDE"), columns=list("VWXYZ"))
df1

df2 = DataFrame({"Company":list("ABCDE"), "Price":list(np.random.randint(1,101,5))})
df2

  Company  Price
0       A     54
1       B     39
2       C     69
3       D     25
4       E      8

In [46]:
print(dfndl['Name'])
print(dfndl['Name'][1])

0    Shashwat
1      Vished
2       Arjun
Name: Name, dtype: object
Vished

In [47]:
df = DataFrame(np.arange(1,26).reshape(-1,5))
df

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20
4  21  22  23  24  25

In [48]:
print(df.columns)
print(df.values)

RangeIndex(start=0, stop=5, step=1)
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [49]:
print(df1[['V','X']]) # reference from rows
print(df1[1:4]) #reference from columns, index non-inclusive

    V   X
A   1   3
B   6   8
C  11  13
D  16  18
E  21  23
    V   W   X   Y   Z
B   6   7   8   9  10
C  11  12  13  14  15
D  16  17  18  19  20

In [50]:
print(df1['V'])
print(df1[df1['V'] < 12])

A     1
B     6
C    11
D    16
E    21
Name: V, dtype: int64
    V   W   X   Y   Z
A   1   2   3   4   5
B   6   7   8   9  10
C  11  12  13  14  15

In [51]:
df2 = DataFrame({"Company":list("ABCDE"), "Price":list(np.random.randint(1,101,5))})
df2

df2['DP'] = df2["Price"]*.90
df2

df2["City"] = "Mumbai"
df2

df2 = df2[df2["City"]=="Mumbai"]
df2

  Company  Price    DP    City
0       A     64  57.6  Mumbai
1       B     11   9.9  Mumbai
2       C     34  30.6  Mumbai
3       D     72  64.8  Mumbai
4       E     24  21.6  Mumbai

In [52]:
df2["City"] =list("MSFDM")
df2

df2[df2["City"] == 'M']

df2[(df2["City"] == 'M') & (df2["Price"] > 1)]

  Company  Price    DP City
0       A     64  57.6    M
4       E     24  21.6    M

In [53]:
#delete column
del df2["DP"] 
df2

  Company  Price City
0       A     64    M
1       B     11    S
2       C     34    F
3       D     72    D
4       E     24    M

In [54]:
df2.drop("City", axis=1)
df2.drop(1, axis=0)

df2.drop(4, axis=0, inplace=True)
df2

  Company  Price City
0       A     64    M
1       B     11    S
2       C     34    F
3       D     72    D

In [55]:
df2.iloc[0,0]

'A'

In [56]:
df2.iloc[0:3]

  Company  Price City
0       A     64    M
1       B     11    S
2       C     34    F

In [57]:
df2.iloc[::2]

  Company  Price City
0       A     64    M
2       C     34    F

In [58]:
df3 = df2.copy()

In [59]:
df3.iloc[0,1]

64

In [60]:
df3.iloc[0:3]

  Company  Price City
0       A     64    M
1       B     11    S
2       C     34    F

In [61]:
df2.loc[:,'City']

0    M
1    S
2    F
3    D
Name: City, dtype: object

In [62]:
df2.loc[3,'Price']

72

In [63]:
df3[0:3]

  Company  Price City
0       A     64    M
1       B     11    S
2       C     34    F

In [64]:
print(df2)
df2.iloc[3,1]

  Company  Price City
0       A     64    M
1       B     11    S
2       C     34    F
3       D     72    D

72

In [65]:
df3.iloc[1:3, 1] = 75
df3

  Company  Price City
0       A     64    M
1       B     75    S
2       C     75    F
3       D     72    D

In [66]:
df3.iloc[1:3, 0] = 'Z'
df3

  Company  Price City
0       A     64    M
1       Z     75    S
2       Z     75    F
3       D     72    D

In [67]:
df2.rename({"City":"Town"},axis=1, inplace=True)
df2

  Company  Price Town
0       A     64    M
1       B     11    S
2       C     34    F
3       D     72    D

In [68]:
df2.rename({0:"A"}, axis=0, inplace=True)
df2

  Company  Price Town
A       A     64    M
1       B     11    S
2       C     34    F
3       D     72    D

In [69]:
df2.replace(['M','D'],["Mumbai","Delhi"], inplace=True)
df2

  Company  Price    Town
A       A     64  Mumbai
1       B     11       S
2       C     34       F
3   Delhi     72   Delhi

In [70]:
df3 = DataFrame({'Name':list('ABCDEFGHIJ'), 'Score 1': np.random.randint(1,101,10)})
df3

  Name  Score 1
0    A       68
1    B       84
2    C       20
3    D       68
4    E       76
5    F       10
6    G       56
7    H       41
8    I       80
9    J       56

In [71]:
df3.sort_values(by='Score 1', ascending=False)

  Name  Score 1
1    B       84
8    I       80
4    E       76
0    A       68
3    D       68
6    G       56
9    J       56
7    H       41
2    C       20
5    F       10

In [72]:
df3.sort_values(by='Score 1', ascending=False, inplace=True)

In [73]:
df3.sort_values(by="Score 1",ascending=False, inplace=True)
df3

  Name  Score 1
1    B       84
8    I       80
4    E       76
0    A       68
3    D       68
6    G       56
9    J       56
7    H       41
2    C       20
5    F       10

In [74]:
df3.sort_index(inplace=True)
df3

  Name  Score 1
0    A       68
1    B       84
2    C       20
3    D       68
4    E       76
5    F       10
6    G       56
7    H       41
8    I       80
9    J       56

In [75]:
df3["Rank"] = df3["Score 1"].rank()
df3

  Name  Score 1  Rank
0    A       68   6.5
1    B       84  10.0
2    C       20   2.0
3    D       68   6.5
4    E       76   8.0
5    F       10   1.0
6    G       56   4.5
7    H       41   3.0
8    I       80   9.0
9    J       56   4.5

In [76]:
df3["Rank Min"] = df3["Score 1"].rank(method='min')
df3

  Name  Score 1  Rank  Rank Min
0    A       68   6.5       6.0
1    B       84  10.0      10.0
2    C       20   2.0       2.0
3    D       68   6.5       6.0
4    E       76   8.0       8.0
5    F       10   1.0       1.0
6    G       56   4.5       4.0
7    H       41   3.0       3.0
8    I       80   9.0       9.0
9    J       56   4.5       4.0

In [77]:

df3['Rank Dense'] = df3['Score 1'].rank(method='dense')
df3

  Name  Score 1  Rank  Rank Min  Rank Dense
0    A       68   6.5       6.0         5.0
1    B       84  10.0      10.0         8.0
2    C       20   2.0       2.0         2.0
3    D       68   6.5       6.0         5.0
4    E       76   8.0       8.0         6.0
5    F       10   1.0       1.0         1.0
6    G       56   4.5       4.0         4.0
7    H       41   3.0       3.0         3.0
8    I       80   9.0       9.0         7.0
9    J       56   4.5       4.0         4.0

In [78]:
df4 = DataFrame({'A': [1, np.nan, np.nan, np.nan],
                 'B': [2,4,7, np.nan],
                'C':[3,5,np.nan,np.nan]})
df4

     A    B    C
0  1.0  2.0  3.0
1  NaN  4.0  5.0
2  NaN  7.0  NaN
3  NaN  NaN  NaN

In [79]:
df4 = DataFrame([[1,2,3],[np.nan,4,5], [np.nan,7,np.nan],[np.nan,np.nan,np.nan]], columns=list('ABC'))
df4

     A    B    C
0  1.0  2.0  3.0
1  NaN  4.0  5.0
2  NaN  7.0  NaN
3  NaN  NaN  NaN

In [80]:
df4['A'].isnull()

0    False
1     True
2     True
3     True
Name: A, dtype: bool

In [81]:
df4['A'].notnull()

0     True
1    False
2    False
3    False
Name: A, dtype: bool

In [82]:
df4['A'].notnull().sum()

1

In [83]:
df4.dropna()

     A    B    C
0  1.0  2.0  3.0

In [84]:
df4.dropna(how="all")

     A    B    C
0  1.0  2.0  3.0
1  NaN  4.0  5.0
2  NaN  7.0  NaN

In [85]:
df4.dropna(thresh=2)

     A    B    C
0  1.0  2.0  3.0
1  NaN  4.0  5.0

In [86]:
df4.T

     0    1    2   3
A  1.0  NaN  NaN NaN
B  2.0  4.0  7.0 NaN
C  3.0  5.0  NaN NaN

In [87]:
df4.fillna(0, inplace=True)
df4

     A    B    C
0  1.0  2.0  3.0
1  0.0  4.0  5.0
2  0.0  7.0  0.0
3  0.0  0.0  0.0

In [88]:
print(df4.mean())
print(df4['C'].mean())

A    0.25
B    3.25
C    2.00
dtype: float64
2.0

In [89]:
df5 = DataFrame({'Key 1': list('AAABB'), 'Key 2': [2,2,3,3,3]})
df5

  Key 1  Key 2
0     A      2
1     A      2
2     A      3
3     B      3
4     B      3

In [90]:
df5.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [91]:
df5.duplicated(keep='last')

0     True
1    False
2    False
3     True
4    False
dtype: bool

In [92]:
df5["Key 1"].duplicated()

0    False
1     True
2     True
3    False
4     True
Name: Key 1, dtype: bool

In [93]:
df5.drop_duplicates()

  Key 1  Key 2
0     A      2
2     A      3
3     B      3

In [94]:
df7 = DataFrame({'Variable': list('AAABBBCCCDDD'),
                 'Value': [1,2,3]*4,
                 'Data': np.random.randn(12)})
df7

   Variable  Value      Data
0         A      1  0.601022
1         A      2  0.632726
2         A      3  0.268386
3         B      1 -0.581174
4         B      2  0.607474
5         B      3 -1.008110
6         C      1 -1.484106
7         C      2  0.038219
8         C      3  0.465464
9         D      1  2.153584
10        D      2 -0.991161
11        D      3  0.655702

In [95]:
df7.pivot('Variable', 'Value', 'Data')

Value            1         2         3
Variable
A         0.601022  0.632726  0.268386
B        -0.581174  0.607474 -1.008110
C        -1.484106  0.038219  0.465464
D         2.153584 -0.991161  0.655702

In [96]:
df7.shape

(12, 3)

In [97]:
import urllib.request as request

weburl = request.urlopen("http://www.google.com")
print("Result code: " + str(weburl.getcode()))

data = weburl.read()
print(type(data))
print(data)

Result code: 200
<class 'bytes'>
b'<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="en"><head><meta content="Search the world\'s information, including webpages, images, videos and more. Google has many special features to help you find exactly what you\'re looking for." name="description"><meta content="noodp" name="robots"><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/logos/doodles/2021/seasonal-holidays-2021-6753651837109324-law.gif" itemprop="image"><meta content="Seasonal Holidays 2021" property="twitter:title"><meta content="Seasonal Holidays 2021 #GoogleDoodle" property="twitter:description"><meta content="Seasonal Holidays 2021 #GoogleDoodle" property="og:description"><meta content="summary_large_image" property="twitter:card"><meta content="@GoogleDoodles" property="twitter:site"><meta content="https://www.google.com/logos/doodles/2021/seasonal-holidays-2021-6753651837109324-2xa.gif" property="twitter:image"><meta content="https://www.google.com/logos/doodles/2021/seasonal-holidays-2021-6753651837109324-2xa.gif" property="og:image"><meta content="1000" property="og:image:width"><meta content="400" property="og:image:height"><meta content="https://www.google.com/logos/doodles/2021/seasonal-holidays-2021-6753651837109324-2xa.gif" property="og:url"><meta content="video.other" property="og:type"><title>Google</title><script nonce="rkisCJugjt7kiLZwXXgUNg==">(function(){window.google={kEI:\'NoqjYbbyOqOqqtsPg9ihsAM\',kEXPI:\'0,18168,184203,1100165,56873,6059,206,4804,2316,383,246,5,1354,4013,923,314,1122516,1197724,668,328875,51223,16115,28684,17572,1325,3533,1362,9291,3028,17580,4020,978,13228,2676,1171,4192,6430,1142,6290,14390,919,5081,1593,1279,2212,530,149,1103,840,1983,213,4101,109,3405,606,2023,1733,43,522,14669,3227,2845,7,5599,6755,5096,8102,6294,1372,552,908,2,941,6397,8927,432,3,1590,1,5444,149,11323,2652,4,1528,2304,7039,74,1983,2626,15626,1714,3050,2658,7357,30,11413,2215,2305,675,1457,15351,1435,5821,2536,4094,3138,6,908,3,3541,1,14711,1814,282,38,874,5992,14678,742,35,1,2987,2,9220,619,4,41,4,4134,1244,4,683,442,342,255,55,4,2811,123,1557,744,5852,9454,1009,1160,6700,2380,2719,3708,2,10460,4126,1,8,5545,2172,4568,2578,3132,546,4035,1,2,2,2595,85,1,2779,1000,3,8128,4791,436,5673,516,5453,1097,1676,71,4676,2,2454,285,1257,37,833,1769,3,2,146,2204,340,222,261,1256,4,98,495,83,32,3,424,668,52,65,974,189,4,7,37,32,297,40,31,111,2,2,1,332,2658,303,2480,781,588,34,3781,140,218,186,148,113,601,723,536,401,179,2,572,391,79,5,506,558,4,216,2,116,659,37,2792,3,11,2,3,1,189,807,446,516,133,254,1205,374,114,1267,227,2,1257,1726,249,2734,593,5526762,101,345,449,1802567,4193852,212,46,2800439,882,444,1,2,80,1,1796,1,9,2553,1,748,141,795,563,1,4265,1,1,2,1331,4142,2609,155,17,13,72,139,4,2,20,2,169,13,19,46,5,39,96,548,29,2,2,1,2,1,2,2,7,4,1,2,2,2,2,2,2,353,513,186,1,1,158,3,2,2,2,2,2,4,2,3,3,269,551,988,31,31,2,6,15,4,20,7,21,5,1,2,3,23953036,4041351,338,3,2414,1491,9,114,1320,160,1356,7194\',kBL:\'9wkH\'};google.sn=\'webhp\';google.kHL=\'en\';})();(function(){\nvar f=this||self;var h,k=[];function l(a){for(var b;a&&(!a.getAttribute||!(b=a.getAttribute("eid")));)a=a.parentNode;return b||h}function m(a){for(var b=null;a&&(!a.getAttribute||!(b=a.getAttribute("leid")));)a=a.parentNode;return b}\nfunction n(a,b,c,d,g){var e="";c||-1!==b.search("&ei=")||(e="&ei="+l(d),-1===b.search("&lei=")&&(d=m(d))&&(e+="&lei="+d));d="";!c&&f._cshid&&-1===b.search("&cshid=")&&"slh"!==a&&(d="&cshid="+f._cshid);c=c||"/"+(g||"gen_204")+"?atyp=i&ct="+a+"&cad="+b+e+"&zx="+Date.now()+d;/^http:/i.test(c)&&"https:"===window.location.protocol&&(google.ml&&google.ml(Error("a"),!1,{src:c,glmm:1}),c="");return c};h=google.kEI;google.getEI=l;google.getLEI=m;google.ml=function(){return null};google.log=function(a,b,c,d,g){if(c=n(a,b,c,d,g)){a=new Image;var e=k.length;k[e]=a;a.onerror=a.onload=a.onabort=function(){delete k[e]};a.src=c}};google.logUrl=n;}).call(this);(function(){\ngoogle.y={};google.sy=[];google.x=function(a,b){if(a)var c=a.id;else{do c=Math.random();while(google.y[c])}google.y[c]=[a,b];return!1};google.sx=function(a){google.sy.push(a)};google.lm=[];google.plm=function(a){google.lm.push.apply(google.lm,a)};google.lq=[];google.load=function(a,b,c){google.lq.push([[a],b,c])};google.loadAll=function(a,b){google.lq.push([a,b])};google.bx=!1;google.lx=function(){};}).call(this);google.f={};(function(){\ndocument.documentElement.addEventListener("submit",function(b){var a;if(a=b.target){var c=a.getAttribute("data-submitfalse");a="1"===c||"q"===c&&!a.elements.q.value?!0:!1}else a=!1;a&&(b.preventDefault(),b.stopPropagation())},!0);document.documentElement.addEventListener("click",function(b){var a;a:{for(a=b.target;a&&a!==document.documentElement;a=a.parentElement)if("A"===a.tagName){a="1"===a.getAttribute("data-nohref");break a}a=!1}a&&b.preventDefault()},!0);}).call(this);</script><style>#gbar,#guser{font-size:13px;padding-top:1px !important;}#gbar{height:22px}#guser{padding-bottom:7px !important;text-align:right}.gbh,.gbd{border-top:1px solid #c9d7f1;font-size:1px}.gbh{height:0;position:absolute;top:24px;width:100%}@media all{.gb1{height:22px;margin-right:.5em;vertical-align:top}#gbar{float:left}}a.gb1,a.gb4{text-decoration:underline !important}a.gb1,a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf .gb4{color:#900 !important}\n</style><style>body,td,a,p,.h{font-family:arial,sans-serif}body{margin:0;overflow-y:scroll}#gog{padding:3px 8px 0}td{line-height:.8em}.gac_m td{line-height:17px}form{margin-bottom:20px}.h{color:#1558d6}em{font-weight:bold;font-style:normal}.lst{height:25px;width:496px}.gsfi,.lst{font:18px arial,sans-serif}.gsfs{font:17px arial,sans-serif}.ds{display:inline-box;display:inline-block;margin:3px 0 4px;margin-left:4px}input{font-family:inherit}body{background:#fff;color:#000}a{color:#4b11a8;text-decoration:none}a:hover,a:active{text-decoration:underline}.fl a{color:#1558d6}a:visited{color:#4b11a8}.sblc{padding-top:5px}.sblc a{display:block;margin:2px 0;margin-left:13px;font-size:11px}.lsbb{background:#f8f9fa;border:solid 1px;border-color:#dadce0 #70757a #70757a #dadce0;height:30px}.lsbb{display:block}#WqQANb a{display:inline-block;margin:0 12px}.lsb{background:url(/images/nav_logo229.png) 0 -261px repeat-x;border:none;color:#000;cursor:pointer;height:30px;margin:0;outline:0;font:15px arial,sans-serif;vertical-align:top}.lsb:active{background:#dadce0}.lst:focus{outline:none}</style><script nonce="rkisCJugjt7kiLZwXXgUNg==">(function(){window.google.erd={sp:\'hp\',jsr:0,bv:1481,de:true};\nvar f=this||self;var g,h,k=null!==(g=f.mei)&&void 0!==g?g:1,l=null!==(h=f.sdo)&&void 0!==h?h:!0,p=0,q,r=google.erd,u=r.jsr;google.ml=function(a,b,d,m,c){c=void 0===c?2:c;b&&(q=a&&a.message);if(google.dl)return google.dl(a,c,d),null;if(0>u){window.console&&console.error(a,d);if(-2===u)throw a;b=!1}else b=!a||!a.message||"Error loading script"===a.message||p>=k&&!m?!1:!0;if(!b)return null;p++;d=d||{};var e=c;c=encodeURIComponent;b="/gen_204?atyp=i&ei="+c(google.kEI);google.kEXPI&&(b+="&jexpid="+c(google.kEXPI));b+="&srcpg="+c(google.sn)+"&jsr="+c(r.jsr)+"&bver="+c(r.bv)+("&jsel="+e);e=a.lineNumber;void 0!==e&&(b+="&line="+\ne);var n=a.fileName;n&&(b+="&script="+c(n),e&&n===window.location.href&&(e=document.documentElement.outerHTML.split("\\n")[e],b+="&cad="+c(e?e.substring(0,300):"No script found.")));for(var t in d)b+="&",b+=c(t),b+="=",b+=c(d[t]);b=b+"&emsg="+c(a.name+": "+a.message);b=b+"&jsst="+c(a.stack||"N/A");12288<=b.length&&(b=b.substr(0,12288));a=b;m||google.log(0,"",a);return a};window.onerror=function(a,b,d,m,c){q!==a&&(a=c instanceof Error?c:Error(a),void 0===d||"lineNumber"in a||(a.lineNumber=d),void 0===b||"fileName"in a||(a.fileName=b),google.ml(a,!1,void 0,!1,"SyntaxError"===a.name||"SyntaxError"===a.message.substring(0,11)?2:0));q=null;l&&p>=k&&(window.onerror=null)};})();</script></head><body bgcolor="#fff"><script nonce="rkisCJugjt7kiLZwXXgUNg==">(function(){var src=\'/images/nav_logo229.png\';var iesg=false;document.body.onload = function(){window.n && window.n();if (document.images){new Image().src=src;}\nif (!iesg){document.f&&document.f.q.focus();document.gbqf&&document.gbqf.q.focus();}\n}\n})();</script><div id="mngb"><div id=gbar><nobr><b class=gb1>Search</b> <a class=gb1 href="http://www.google.com/imghp?hl=en&tab=wi">Images</a> <a class=gb1 href="http://maps.google.com/maps?hl=en&tab=wl">Maps</a> <a class=gb1 href="https://play.google.com/?hl=en&tab=w8">Play</a> <a class=gb1 href="http://www.youtube.com/?gl=US&tab=w1">YouTube</a> <a class=gb1 href="https://news.google.com/?tab=wn">News</a> <a class=gb1 href="https://mail.google.com/mail/?tab=wm">Gmail</a> <a class=gb1 href="https://drive.google.com/?tab=wo">Drive</a> <a class=gb1 style="text-decoration:none" href="https://www.google.com/intl/en/about/products?tab=wh"><u>More</u> &raquo;</a></nobr></div><div id=guser width=100%><nobr><span id=gbn class=gbi></span><span id=gbf class=gbf></span><span id=gbe></span><a href="http://www.google.com/history/optout?hl=en" class=gb4>Web History</a> | <a  href="/preferences?hl=en" class=gb4>Settings</a> | <a target=_top id=gb_70 href="https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=http://www.google.com/&ec=GAZAAQ" class=gb4>Sign in</a></nobr></div><div class=gbh style=left:0></div><div class=gbh style=right:0></div></div><center><br clear="all" id="lgpd"><div id="lga"><a href="/search?ie=UTF-8&amp;q=seasonal+holidays&amp;oi=ddle&amp;ct=199210428&amp;hl=en&amp;sa=X&amp;ved=0ahUKEwi25fTdmrv0AhUjlWoFHQNsCDYQPQgD"><img alt="Seasonal Holidays 2021" border="0" height="200" src="/logos/doodles/2021/seasonal-holidays-2021-6753651837109324-law.gif" title="Seasonal Holidays 2021" width="500" id="hplogo"><br></a><br></div><form action="/search" name="f"><table cellpadding="0" cellspacing="0"><tr valign="top"><td width="25%">&nbsp;</td><td align="center" nowrap=""><input name="ie" value="ISO-8859-1" type="hidden"><input value="en" name="hl" type="hidden"><input name="source" type="hidden" value="hp"><input name="biw" type="hidden"><input name="bih" type="hidden"><div class="ds" style="height:32px;margin:4px 0"><input class="lst" style="margin:0;padding:5px 8px 0 6px;vertical-align:top;color:#000" autocomplete="off" value="" title="Google Search" maxlength="2048" name="q" size="57"></div><br style="line-height:0"><span class="ds"><span class="lsbb"><input class="lsb" value="Google Search" name="btnG" type="submit"></span></span><span class="ds"><span class="lsbb"><input class="lsb" id="tsuid1" value="I\'m Feeling Lucky" name="btnI" type="submit"><script nonce="rkisCJugjt7kiLZwXXgUNg==">(function(){var id=\'tsuid1\';document.getElementById(id).onclick = function(){if (this.form.q.value){this.checked = 1;if (this.form.iflsig)this.form.iflsig.disabled = false;}\nelse top.location=\'/doodles/\';};})();</script><input value="ALs-wAMAAAAAYaOYRpjXPsfLlMISw7BY8U738Eub3WFz" name="iflsig" type="hidden"></span></span></td><td class="fl sblc" align="left" nowrap="" width="25%"><a href="/advanced_search?hl=en&amp;authuser=0">Advanced search</a></td></tr></table><input id="gbv" name="gbv" type="hidden" value="1"><script nonce="rkisCJugjt7kiLZwXXgUNg==">(function(){\nvar a,b="1";if(document&&document.getElementById)if("undefined"!=typeof XMLHttpRequest)b="2";else if("undefined"!=typeof ActiveXObject){var c,d,e=["MSXML2.XMLHTTP.6.0","MSXML2.XMLHTTP.3.0","MSXML2.XMLHTTP","Microsoft.XMLHTTP"];for(c=0;d=e[c++];)try{new ActiveXObject(d),b="2"}catch(h){}}a=b;if("2"==a&&-1==location.search.indexOf("&gbv=2")){var f=google.gbvu,g=document.getElementById("gbv");g&&(g.value=a);f&&window.setTimeout(function(){location.href=f},0)};}).call(this);</script></form><div id="gac_scont"></div><div style="font-size:83%;min-height:3.5em"><br></div><span id="footer"><div style="font-size:10pt"><div style="margin:19px auto;text-align:center" id="WqQANb"><a href="/intl/en/ads/">Advertising\xa0Programs</a><a href="/services/">Business Solutions</a><a href="/intl/en/about.html">About Google</a></div></div><p style="font-size:8pt;color:#70757a">&copy; 2021 - <a href="/intl/en/policies/privacy/">Privacy</a> - <a href="/intl/en/policies/terms/">Terms</a></p></span></center><script nonce="rkisCJugjt7kiLZwXXgUNg==">(function(){window.google.cdo={height:757,width:1440};(function(){\nvar a=window.innerWidth,b=window.innerHeight;if(!a||!b){var c=window.document,d="CSS1Compat"==c.compatMode?c.documentElement:c.body;a=d.clientWidth;b=d.clientHeight}a&&b&&(a!=google.cdo.width||b!=google.cdo.height)&&google.log("","","/client_204?&atyp=i&biw="+a+"&bih="+b+"&ei="+google.kEI);}).call(this);})();</script> <script nonce="rkisCJugjt7kiLZwXXgUNg==">(function(){google.xjs={ck:\'\',cs:\'\',excm:[]};})();</script>  <script nonce="rkisCJugjt7kiLZwXXgUNg==">(function(){var u=\'/xjs/_/js/k\\x3dxjs.hp.en_US.3ntOeCNlr-8.O/am\\x3dACcAlg/d\\x3d1/ed\\x3d1/esmo\\x3d1/rs\\x3dACT90oF51IPZUVJlHhGDkLi7pzGRMs5Ykw/m\\x3dsb_he,d\';\nvar e=this||self,f=function(a){return a};var g;var l=function(a,b){this.g=b===h?a:""};l.prototype.toString=function(){return this.g+""};var h={};\nfunction m(){var a=u;google.lx=function(){n(a);google.lx=function(){}};google.bx||google.lx()}\nfunction n(a){google.timers&&google.timers.load&&google.tick&&google.tick("load","xjsls");var b=document;var c="SCRIPT";"application/xhtml+xml"===b.contentType&&(c=c.toLowerCase());c=b.createElement(c);if(void 0===g){b=null;var k=e.trustedTypes;if(k&&k.createPolicy){try{b=k.createPolicy("goog#html",{createHTML:f,createScript:f,createScriptURL:f})}catch(p){e.console&&e.console.error(p.message)}g=b}else g=b}a=(b=g)?b.createScriptURL(a):a;a=new l(a,h);c.src=a instanceof l&&a.constructor===l?a.g:"type_error:TrustedResourceUrl";var d;a=(c.ownerDocument&&c.ownerDocument.defaultView||window).document;(d=(b=null===(d=a.querySelector)||void 0===d?void 0:d.call(a,"script[nonce]"))?b.nonce||b.getAttribute("nonce")||"":"")&&c.setAttribute("nonce",d);document.body.appendChild(c);google.psa=!0};google.xjsu=u;setTimeout(function(){m()},0);})();function _DumpException(e){throw e;}\nfunction _F_installCss(c){}\n(function(){google.jl={attn:false,blt:\'none\',chnk:0,dw:false,dwu:true,emtn:0,end:0,ine:false,lls:\'default\',pdt:0,rep:0,snet:true,strt:0,ubm:false,uwp:true};})();(function(){var pmc=\'{\\x22d\\x22:{},\\x22sb_he\\x22:{\\x22agen\\x22:true,\\x22cgen\\x22:true,\\x22client\\x22:\\x22heirloom-hp\\x22,\\x22dh\\x22:true,\\x22dhqt\\x22:true,\\x22ds\\x22:\\x22\\x22,\\x22ffql\\x22:\\x22en\\x22,\\x22fl\\x22:true,\\x22host\\x22:\\x22google.com\\x22,\\x22isbh\\x22:28,\\x22jsonp\\x22:true,\\x22msgs\\x22:{\\x22cibl\\x22:\\x22Clear Search\\x22,\\x22dym\\x22:\\x22Did you mean:\\x22,\\x22lcky\\x22:\\x22I\\\\u0026#39;m Feeling Lucky\\x22,\\x22lml\\x22:\\x22Learn more\\x22,\\x22oskt\\x22:\\x22Input tools\\x22,\\x22psrc\\x22:\\x22This search was removed from your \\\\u003Ca href\\x3d\\\\\\x22/history\\\\\\x22\\\\u003EWeb History\\\\u003C/a\\\\u003E\\x22,\\x22psrl\\x22:\\x22Remove\\x22,\\x22sbit\\x22:\\x22Search by image\\x22,\\x22srch\\x22:\\x22Google Search\\x22},\\x22ovr\\x22:{},\\x22pq\\x22:\\x22\\x22,\\x22refpd\\x22:true,\\x22rfs\\x22:[],\\x22sbas\\x22:\\x220 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08)\\x22,\\x22sbpl\\x22:16,\\x22sbpr\\x22:16,\\x22scd\\x22:10,\\x22stok\\x22:\\x22LI9BoX0QfxtRKG1K5wdZTkr0LhE\\x22,\\x22uhde\\x22:false}}\';google.pmc=JSON.parse(pmc);})();</script>        </body></html>'

In [98]:
import json 
weburl = request.urlopen("http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.geojson")
print("Result code: " + str(weburl.getcode()))

data = weburl.read()
print(data)

thejson = json.loads(data)
print(thejson)

if "title" in thejson["metadata"]:
  print(thejson["metadata"]["title"])


count = thejson["metadata"]["count"]
print(count)

print("----------------------------------------")
for i in thejson["features"]:
  print(i["properties"]["place"])


print("----------------------------------------")

for i in thejson["features"]:
  if i["properties"]["mag"] > 2.5:
    print(i["properties"]["place"])

Result code: 200