In [225]:
collection = (list(range(0,100)))

In [226]:
my_list1 = list((1, 2, 3))
print(my_list1)

[1, 2, 3]

In [227]:
my_list2 = [1, 2, 3]
print(my_list2)

[1, 2, 3]

In [228]:
my_list2.append(4)
print(my_list2)

[1, 2, 3, 4]

In [229]:
my_list2.insert(2,5)
print(my_list2)

[1, 2, 5, 3, 4]

In [230]:
print(my_list2)
my_list2[1:] = [9,8]
print(my_list2)

[1, 2, 5, 3, 4]
[1, 9, 8]

In [231]:
my_list1.extend(my_list2)
print(my_list1)
my_list1[1:3] = [20,30,40]
print(my_list1)

[1, 2, 3, 1, 9, 8]
[1, 20, 30, 40, 1, 9, 8]

In [232]:
my_list1.sort()
print(my_list1)
my_list1.reverse()
print(my_list1)
print(max(my_list1))
print(sum(my_list1))
print(all(my_list1))

[1, 1, 8, 9, 20, 30, 40]
[40, 30, 20, 9, 8, 1, 1]
40
109
True

In [233]:
print(my_list1[0])
print(my_list1[-3])
print(my_list1[len(my_list1)-1])

40
8
1

In [234]:
my_list3 = [1.0, 'Jessa', 3]
print(my_list3)
# Output [1.0, 'Jessa', 3]

# empty list using list()
my_list4 = list()
print(my_list4)
# Output []

# empty list using []
my_list5 = []
print(my_list4)

[1.0, 'Jessa', 3]
[]
[]

In [235]:
print(collection)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [236]:
evenNumbers = (list(range(0,100,2)))

In [237]:
my_list6= list([1,2,3,4,3])
print(my_list6)

[1, 2, 3, 4, 3]

In [238]:
my_list6.remove(3)
print(my_list6)

[1, 2, 4, 3]

In [239]:
my_list6.pop(0)
print(my_list6)

[2, 4, 3]

In [240]:
#my_list6.clear()
#print(my_list6)

In [241]:
#del my_list6

In [242]:
my_list6.count(1)
my_list6.index(3)

2

In [243]:
my_list7 = [5,9,2,4,7,10]
output_list = [number*2 for number in my_list7 if number%2==0]
print(output_list)

[4, 8, 20]

In [244]:
print(evenNumbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [245]:
evenNumbers[29]

58

In [246]:
evenNumbers[0:30:4]

[0, 8, 16, 24, 32, 40, 48, 56]

In [247]:
for i in evenNumbers[5:10:2]:
  print(i)

10
14
18

In [248]:
evenNumbers[50:0:-1]

[98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2]

In [249]:
del collection[10:20]

In [250]:
for i in collection:
  print(i)

0
1
2
3
4
5
6
7
8
9
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [251]:
for index in range(0,len(collection)):
  print(collection[index])

0
1
2
3
4
5
6
7
8
9
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [252]:
dic = {"1":"one","2":"Two","3":"Three","4":"Four"}

In [253]:
print(dic)

{'1': 'one', '2': 'Two', '3': 'Three', '4': 'Four'}

In [254]:
print(dic.keys())

dict_keys(['1', '2', '3', '4'])

In [255]:
dic.values()

dict_values(['one', 'Two', 'Three', 'Four'])

In [256]:
for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [257]:
for i in range(0,30,3):
  print(i)

0
3
6
9
12
15
18
21
24
27

In [258]:
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [259]:
for i in range(0,len(collection),5):
  print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85

In [260]:
for num in range(4):
    for i in range(num):
        print(num, end=" ")
    print()

1
2 2
3 3 3

In [261]:
for i in range(10,0,-1):
  print(i, end= ' ')

10 9 8 7 6 5 4 3 2 1

In [262]:
dict={}
lst1=['Bratislava', 'Best kebab pizza Petržalka', 6.0, '55 - 65 min.', '4.4', 55, 65, 60.0]
lst2=['Bratislava', 'Best kebab pizza Petržalka', 6.0, '55 - 65 min.', '4.4', 55, 65, 60.0]

key='Bratislava'
if key in dict.keys():
  dic[key].append(lst1)
else:
  dict[key] = [lst2]

dict[key].append(lst1)
print(dict)

{'Bratislava': [['Bratislava', 'Best kebab pizza Petržalka', 6.0, '55 - 65 min.', '4.4', 55, 65, 60.0], ['Bratislava', 'Best kebab pizza Petržalka', 6.0, '55 - 65 min.', '4.4', 55, 65, 60.0]]}

In [263]:
price='23.0 '
print(float(price))

23.0

In [264]:
lst = [1,2,'3.0',5]
if lst[2]>'2.0':
  print("Yay")

Yay

In [265]:
for i in reversed(range(0,10)):
  print(i)

9
8
7
6
5
4
3
2
1
0

In [266]:
list1 = [10, 20, 30, 40, 50]
# start = list's size
# stop = -1
# step = -1

# reverse a list
for i in range(len(list1) - 1, -1, -1):
    print(list1[i], end=" ")

print(list1)

50 40 30 20 10 [10, 20, 30, 40, 50]

In [267]:
from itertools import chain

# Concatenate ranges
new_range = chain(range(5), range(5, 10))
for num in new_range:
    print(num, end=' ')
# Output 0 1 2 3 4 5 6 7

0 1 2 3 4 5 6 7 8 9

In [268]:
my_list1 = list((1, 2, 3))

In [269]:
dic.items()

dict_items([('1', 'one'), ('2', 'Two'), ('3', 'Three'), ('4', 'Four')])

In [270]:
for k in dic.keys():
  print(dic[k])

one
Two
Three
Four

In [271]:
for k,v in dic.items():
  print('Key: {} - Value: {}'.format(k,v))

Key: 1 - Value: one
Key: 2 - Value: Two
Key: 3 - Value: Three
Key: 4 - Value: Four

In [272]:
s1 = set((1,2,3))
print(s1)

{1, 2, 3}

In [273]:
s2 = {4,5,6}
print(s2)

{4, 5, 6}

In [274]:
number_list = [i for i in range(7,20)]
print(number_list)
s3 = set(number_list)
print(type(s3))
print(s3)

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
<class 'set'>
{7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [275]:
s4 = {'a',"Shashwat",1}
print(s4)
# s5 = {'a',2,[3]}

{1, 'a', 'Shashwat'}

In [276]:
for item in s3:
  print(item, end = ' ')

7 8 9 10 11 12 13 14 15 16 17 18 19

In [277]:
if 9 in s3:
  print(9)
if 3 in s1:
  print(3)
if 3 not in s3:
  print('Not present')

9
3
Not present

In [278]:
print(s3)
s3.add(6)
print(s3)

{7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
{6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [279]:
s3.update((1,2,3))
print(s3)

{1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [280]:
print(s1.union(s2))
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3}
{4, 5, 6}

In [281]:
print(s2.intersection(s3))
print(s2.difference(s3))
print(s2.symmetric_difference(s3))
print(s1.issubset(s3))
print(s3.issuperset(s1))
print(s1.isdisjoint(s2))
print(s3.isdisjoint(s1))

{6}
{4, 5}
{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
True
True
True
False

In [282]:
color_set = {'violet', 'indigo', 'blue', 'green', 'yellow'}
remaining_colors = {'indigo', 'orange', 'red'}
unique_items2 = color_set.symmetric_difference(remaining_colors)
print(unique_items2)

{'violet', 'orange', 'green', 'yellow', 'blue', 'red'}

In [283]:
s5 = {20,32,1,29,45,76,44}

set1 = {20, 4, 6, 10, 8, 15}
sorted_list = sorted(s5)
print(sorted_list)
sorted_set = set(sorted_list)
print(sorted_set)

[1, 20, 29, 32, 44, 45, 76]
{32, 1, 44, 45, 76, 20, 29}

In [284]:
print(max(s3))
print(min(s3))

19
1

In [285]:
s7 = frozenset(s2)
#s7.add(1)

In [286]:
 s8 = {item*2 for item in range(1,10) if item%2==0}
 print(s8)

{8, 16, 4, 12}

In [287]:
# create a dictionary using {}
person = {"name": "Jessa", "country": "USA", "telephone": 1178}
print(person)
# output {'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

# create a dictionary using dict()
# person = dict({"name": "Jessa", "country": "USA", "telephone": 1178})
# print(person)
# output {'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

# create a dictionary from sequence having each item as a pair
# person = dict([("name", "Mark"), ("country", "USA"), ("telephone", 1178)])
print(person)

# create dictionary with mixed keys keys
# first key is string and second is an integer
sample_dict = {"name": "Jessa", 10: "Mobile"}
print(sample_dict)
# output {'name': 'Jessa', 10: 'Mobile'}

# create dictionary with value as a list
person = {"name": "Jessa", "telephones": [1178, 2563, 4569]}
print(person)
# output {'name': 'Jessa', 'telephones': [1178, 2563, 4569]}

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178}
{'name': 'Jessa', 'country': 'USA', 'telephone': 1178}
{'name': 'Jessa', 10: 'Mobile'}
{'name': 'Jessa', 'telephones': [1178, 2563, 4569]}

In [288]:
print(person['name'])
print(person.get('telephones'))
print(person.keys())
print(person.values())
print(person.items())

Jessa
[1178, 2563, 4569]
dict_keys(['name', 'telephones'])
dict_values(['Jessa', [1178, 2563, 4569]])
dict_items([('name', 'Jessa'), ('telephones', [1178, 2563, 4569])])

In [289]:
for k,v in person.items():
  print('Key: {} and Value: {}'.format(k,v))

Key: name and Value: Jessa
Key: telephones and Value: [1178, 2563, 4569]

In [290]:
person.update({'weight':90,"mobile":9873252129})
person["height"] = 175
person.setdefault("state","Haryana")
person.setdefault("country","India")
person.setdefault("zip")

print(person)

{'name': 'Jessa', 'telephones': [1178, 2563, 4569], 'weight': 90, 'mobile': 9873252129, 'height': 175, 'state': 'Haryana', 'country': 'India', 'zip': None}

In [291]:
print(person.popitem())
print(person.pop('state'))
print(person)

('zip', None)
Haryana
{'name': 'Jessa', 'telephones': [1178, 2563, 4569], 'weight': 90, 'mobile': 9873252129, 'height': 175, 'country': 'India'}

In [292]:
dict1 = {'Jessa': 70, 'Arul': 80, 'Emma': 55}
dict2 = {'Kelly': 68, 'Harry': 50, 'Olivia': 66}

# copy second dictionary into first dictionary
dict1.update(dict2)
# printing the updated dictionary
print(dict1)

{'Jessa': 70, 'Arul': 80, 'Emma': 55, 'Kelly': 68, 'Harry': 50, 'Olivia': 66}

In [293]:
student_dict1 = {'Aadya': 1, 'Arul': 2, }
student_dict2 = {'Harry': 5, 'Olivia': 6}
student_dict3 = {'Nancy': 7, 'Perry': 9}

# join three dictionaries 
student_dict = {**student_dict1, **student_dict2, **student_dict3}
# printing the final Merged dictionary
print(student_dict)

{'Aadya': 1, 'Arul': 2, 'Harry': 5, 'Olivia': 6, 'Nancy': 7, 'Perry': 9}

In [294]:
dict1 = {'Jessa': 70, 'Arul': 80, 'Emma': 55}
dict2 = {'Kelly': 68, 'Harry': 50, 'Emma': 66}

# join two dictionaries with some common items
dict1.update(dict2)
# printing the updated dictionary
print(dict1['Emma'])

66

In [295]:
dict1 = {'c': 45, 'b': 95, 'a': 35}

# sorting dictionary by keys
print(sorted(dict1.items()))
# Output [('a', 35), ('b', 95), ('c', 45)]

# sort dict eys
print(sorted(dict1))
# output ['a', 'b', 'c']

# sort dictionary values
print(sorted(dict1.values()))

[('a', 35), ('b', 95), ('c', 45)]
['a', 'b', 'c']
[35, 45, 95]

In [296]:
tuple1 = (1,2,3,(4,5,6),[7,8,9])
tuple2 = (1,2,3,(4,5,6))
print(tuple1)
# dic = {tuple1,"value"}
# print(dic)

(1, 2, 3, (4, 5, 6), [7, 8, 9])

In [297]:
set11 = {20, 4, 6, 10, 8, 15}
set1 = frozenset(set11)

dic1 = {set1,"value"}
print(dic1)

{'value', frozenset({4, 20, 6, 8, 10, 15})}

In [305]:
for i in range(10):
  print(i)

if i in range(10,30):
  print(i)
else:
  print("Hi")

0
1
2
3
4
5
6
7
8
9
Hi

In [299]:
count=0
for count in range(20):
  if count%2==1:
    print("Odd")
    count+=count
  elif count%2==0:
    print("Even")
    count+=count

Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd

In [300]:
for i in range(2,10):
  for j in range (2,i):
    if i%j==0:
      print("{} not a prime Number".format(i))
      break
  else:
      print("{} is prime".format(i))

2 is prime
3 is prime
4 not a prime Number
5 is prime
6 not a prime Number
7 is prime
8 not a prime Number
9 not a prime Number

In [301]:
#lambda

#Adding
add = lambda x,y: x+y
print(add(5,6))

# list sorting
a = [(1, 2), (4, 1), (9, 10), (13, -3)]
a.sort(key=lambda x: x[0])
print(a)
a.sort(key=lambda x: x[1])
print(a)

11
[(1, 2), (4, 1), (9, 10), (13, -3)]
[(13, -3), (4, 1), (1, 2), (9, 10)]

In [302]:
for num in range(0,20,3):
  #print(num)
  if num != 0 and num%10==0:
    print(num)
else:
  print("No multiples of 10")

No multiples of 10

In [303]:
num=input("Enter number: ")
while num == -1:
  print(num)

Enter number: 20

In [304]:
num = -1
print(num)
if num == -1:
  print("Negative")

-1
Negative